<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Portal</title>
    <link rel="stylesheet" href="/css/hostHomepage.css">
</head>

<body>
    <header>
        Attendance Portal
    </header>


    <!-- Home page section -->
    <section id="homePage" class="">
        <div class="container">
            <!-- Attendance Card -->
            <div class="card">
                <h2>Attendance</h2>
                <a href="/hosts/start-attendance" class="button">Take Attendance</a>
                <a href="#" class="button">View Enrolled Students</a>
            </div>


            <!-- Registration Card -->
            <div class="card">
                <h2>Registration</h2>
                <a href="/hosts/start-registration" class="button">Start Registration</a>
                <a href="#" class="button">Edit Registered Students</a>
            </div>
        </div>
    </section>
    <footer>
        © 2024 <a href="https://github.com/Rai-shwith" rel="noopener" target="_blank">Ashwith Rai</a> . Licensed under
        <a rel="noopener" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>.
    </footer>
</body>

</html>